# =========================
# Ignorar datasets grandes
# =========================
dataset/
dataset_bin/
dataset_maize_only/
pruebas/
parecidas/
# =========================
# Checkpoints y modelos
# =========================
*.pt

# =========================
# Resultados / métricas
# =========================
*.csv
*.png

# =========================
# Entornos virtuales
# =========================
venv/
.env/
.venv/

# =========================
# Archivos temporales / caché
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log

# =========================
# Configuración local
# =========================
*.swp
.DS_Store
Thumbs.db
